.button {
  background:  #F5170E;
border-radius: 35px;
width: 168px;
height: 55px;
color: #fff;
font-size: 14px;
text-align: center;
text-transform: uppercase;
font-weight: 700;
cursor: pointer;
}
.button:hover {
  background: #fff;
  border: 2px solid #F5170E;
  color:#F5170E;
  cursor: pointer;
}

.button--white {
  background: #fff;
  color:#F5170E;
  border: 2px solid #F5170E;
}

.button--white:hover {
  background: #F5170E;
  color: #fff
}

.button--black {
  background: #2B2B2B;
}

.button--black:hover {
  background: #8E8E8E;
  color: #FFFFFF;
  border: none;
}

.button--welcome:hover {
  background:  #DA0100;
  color: #fff;
  border: none;
}

.form__button {
  margin-right: 17px;

}

.form__button:last-child {
  margin-right: 0px;
}

.form__buttons {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 96px;
}