
.controls__elem {
  cursor: pointer;
}

.controls__tag {
  background: #e7e7e7;
}

.controls__checkbox:checked ~ .controls__tag {
  background: #B9EAE4;
}


.controls__checkbox {
  display: none;
}

.form__controls {
  display: flex;
  margin-bottom: 42px;
}
.controls {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.controls__list {
  margin-left: 95px;
}

.controls__item {
margin-bottom: 9px;
}
.form__controls-title {
  width: 31%;
  color: #1A1B1E;
  font-size: 18px;
  white-space: nowrap;
}
