.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown:before {
  content: "";
  display: block;
  height: 100px;
  left: 0;
  right: 0;
  top: 12px;
  position: absolute;

}

.dropdown__menu {
  position: absolute;
  width: 160px;
  height: 70px;
  background: #EDEDED;
  border-radius: 5px;
  margin-top: 10px;
 margin-left: 33px;
 opacity: 0;
  transition: opacity 0.6s;
  left: -9999px;
}


.dropdown__menu:before {
  width: 20px;
  height: 20px;
  position: absolute;
  transform: rotate(45deg);
  background: #ededed;
  top:-5px;
  right: 40px;
  content: "";
 }
 

.dropdown:hover .dropdown__menu {
  left: 0;
  opacity: .8;
}

.dropdown__list {
  text-align: left;
  margin-left: 19px;
}

.dropdown__item {
  color:#000;
  margin-top: 18px;
  font-weight: 700;
font-size: 13px;
}
.dropdown__item:last-child {
  margin-top: 0px;
  font-weight: 600;
}
