.dropdown {
  display: inline-block;
  position: relative;
  
}

.dropdown:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  transform: rotate(45deg);
  background:linear-gradient(135deg,#EDEDED 29%,transparent 29%, transparent 71%);
  top:20px;
  opacity: 0;
  transition: opacity 0.6s;
  right: -9999px;
  border-style: none;
 }

 .dropdown:hover:before{
  display: block;
  opacity: 1;
  right: 38px;
 }

.dropdown__menu {
  position: absolute;
  width: 160px;
  height: 70px;
  background: #EDEDED;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 33px;
 opacity: 0;
  transition: opacity 0.6s;
  left: -9999px;
}

.dropdown__menu:before {
content: "";
 display: block;
 height: 100px;
 left: 0;
 right: 0;
 top: -10px;
 position: absolute;
}

.dropdown:hover .dropdown__menu {
  left: 0;
  opacity: 1;
}

.dropdown__list {
  text-align: left;
  margin-left: 19px;
}

.dropdown__item {
  color:#000;
  margin-top: 18px;
  font-weight: 700;
font-size: 13px;
}
.dropdown__item:last-child {
  margin-top: 0px;
  font-weight: 600;
}
