* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  color: white;
}
body {
  margin: 0;
  font-family: 'Open Sans', Helvetica, sans-serif;
}
.wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background:  url("./img/1.png") center top no-repeat, url("./img/2.png") right bottom no-repeat;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}
a 
{text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  padding: 0;
  outline: none;
border: 1px solid transparent;
}
p {
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
.container {
  width: 1142px;
  margin: 0 auto;
}
.header {
  position: relative;
  min-height: 123.36px;
  margin-bottom: 131px ;
}
.logo, .menu, .phones {
  position: absolute;
}

.logo {
  top: 29px;
}

.logo__link {
  display: block;
}

.menu {
  top: 42px;
  left: 210px;
}
.menu__item {
  font-size: 14px;
  margin-right: 54px;
  vertical-align: middle;
  display: inline-block;
}

.menu__item:last-child {
  margin-right: 0;
}
.menu__item:hover {
  color: #F5170E
}

.phones {
  position: absolute;
  top: 27px;
  right: 0;
  text-align: right;
}

.phones__number {
  font-size: 26px;
  font-style: normal;
  margin-bottom: 2px;
}

.phones__graph {
  font-size: 13px;
  top: 55.14px;
}
.preview {
 width: 511px;
}

.preview__title {
  font-weight: 700;
  font-size: 72px;
  margin-bottom: 27.5px;
}

.preview__text {
  font-size: 18px;
  margin-bottom: 33.5px;
}

.button {
  background:  #F5170E;
border-radius: 35px;
width: 168px;
height: 55px;
color: #fff;
font-size: 14px;
text-align: center;
text-transform: uppercase;
font-weight: 700;
}
.button:hover {
  background: #fff;
  border: 2px solid #F5170E;
  color:#F5170E;
}

.button--white {
  background: #fff;
  color:#F5170E;
  border: 2px solid #F5170E;
}

.button--white:hover {
  background: #F5170E;
  color: #fff
}
.options {
  margin-bottom: 127px;
  margin-top: 264px;
}
.options__container {
  padding: 33px 16px 26px 24px;
}
.options__item-block {
  position: relative;
  width: 100%;
  height: 140px;
}

.options__image {
width: 100%;
height: 100%;
}
.options__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 45px;
}
.options__title:after {
  content: "";
  display:inline-block;
  width: 21px;
  height: 28px;
  margin-left: 12px;
  background: url(./img/flame.png);
}

.options__item {
  display:inline-block;
  width: 350px;
  min-height: 305px;
  margin-right: 27px;
  position: relative;
  background: #fff;
  border-radius:  5px;
  overflow: hidden;
}
.options__item:last-child {
  margin-right: 0 ;
}
.options__caption {
  margin: 23px 22px 23px;
  color: #000;
  font-weight: 700;
  font-size: 24px;
}
.options__info-block {
  display:inline-block;
  position: relative;
  color: #666666;
}

.options__text {
  font-size: 14px;
 padding: 26.5px 22px 24.5px 16px;
  color: #303030;
 width: 324px;
} 

.options__info-text:before {
  content: "";
  display:inline-block;
  width: 26px;
  height: 26px;
  margin-left: 28px;
  margin-right: 10px;
background: url(./img/calendar.png);}

.options__info-text-meal:before {
  content: "";
  display:inline-block;
  width: 36px;
  height: 26px;
  margin-left: 28px;
  margin-right: 10px;
background: url(./img/meal.png);
}

.news__subtitle {
font-weight: 700;
font-size: 24px;
}
.news__title {
font-weight: 700;
font-size: 36px;
margin-bottom: 51px;
}
.news__item {
  display:inline-block;
  width: 550px;
  min-height: 394px;
  margin-right: 25px;
  position: relative;
}
.news__item:last-child {
  margin-right: 0;
}

.news__image {
  position: absolute;
  margin: 0;
  padding: 0;
}

.news__content {
  position: absolute;
  bottom: 47.5px;
  padding: 0px 32px;
}
.paginator {
  text-align: center;
  margin-top: 57.5px;
  margin-bottom: 152.5px;
}

.paginator__display {
  display: inline-block;
  margin-right: 25px;
}
.paginator__item {
  display: inline-block;
  margin-right: 13px;
}
.paginator__item:last-child {
  margin-right: 0;
}

.paginator__link {
display: inline-block;
width: 32px;
height: 32px;
border-radius: 50%;
background: transparent;
color: #fff;
text-align: center;
line-height: 32px;
transition: 0.4s;
}

.paginator__link:hover {
  background: #fff;
  color: #F5170E;
}

.about:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 490px;
height: 505px;
background: url(./img/gates.png);
}
.about__content {
  background-image: url(./img/mountains.png);
  width: 785px;
  height: 455px;
  padding: 70px 81px;
  display: inline-block;
  vertical-align: top;
  margin-left: -150px;
  margin-top: 90px;
  border-radius: 5px;
}

.about__title {
font-weight: 700;
font-size: 36px;
color: #000;
margin-bottom: 37px;
}

.about__text {
  font-size: 16px;
color:#060606;
margin-bottom: 43px;
text-align: justify;
}

.about__button {
  margin-top: 90px;
}

.footer {
  position: relative;
  height: 146px;
}

.footer .menu {
  top: 59px;
  left: 210px;
}

.footer .logo {
    top: 45px;
  }

  .footer .phones {
    top: 42.14px;
  }
  
.socials{
  position: absolute;
  top: 49px;
  right: 250px;
}

.phones__text {
  color:#9A9A9A;
  font-size: 11px;
}

.socials__item {
  margin-right: 10px;
}
.socials__item:last-child {
  margin: 0;
}
