.news__subtitle {
  font-weight: 700;
  font-size: 24px;
  }
  .news__title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 51px;
  }
  
  .news__list {
    display: flex;
  }
  
  .news__item {
    width: 550px;
    min-height: 394px;
    margin-right: 25px;
    display: flex;
    align-items: flex-end;
  }
  
  .news__item--first {
    background: url(./img/plain.png);
  }
  
  .news__item--second {
    background: url(./img/Surfer.png);
  }
  
  .news__content {
    padding: 0px 32px;
    margin-bottom: 47.5px;
  }