
.section__partner {
  background-color:  #F4F5F5;
  margin-bottom: 117px;
}

.partner__title {
font-weight: 700;
font-size: 48px;
color: #1A1B1E;
margin-bottom: 99px;
margin-top: 88px;
}

.partner__list {
  display: flex;
  flex-wrap: wrap;
}

.partner__link {
  display: flex;
  width: 285px;
  height: 70px;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%)
}

.partner__link:hover {
  filter: grayscale(0)
}