
.partners {
  background: #F4F5F5;
  padding-bottom: 117px;
  padding-top: 88px;
}

.partner__title {
font-weight: 700;
font-size: 48px;
color: #1A1B1E;
margin-bottom: 99px;
}

.partner__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.partner__link {
  display: flex;
  width: 285px;
  height: 70px;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%)
}

.partner__link:hover {
  filter: grayscale(0)
}

.partner__link--airbaltic {
  padding-right: 45px;
}

.partner__link--pegasus {
  padding-right: 50px;
}