.socials{
  /* margin-left: 100px;*/
    margin-top: 50px;}
 
 .phones__text {
   color:#9A9A9A;
   font-size: 11px;
 }
 
 .socials__item {
   margin-right: 10px;
 }
 .socials__item:last-child {
   margin: 0;
 }

 .socials__item {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
 }

 .socials__item:hover {
  cursor: pointer;
 }

 .socials__item:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
 }
 .socials__item--tg {
  background: url(./img/sprites.png) -10px -122px;
 }
 
 .socials__item--tg:hover {
  background-position: -66px -66px;
 }


 .socials__item--vk {
  background: url(./img/sprites.png) -66px -122px;
 }

 .socials__item--vk:hover {
  background-position: -122px -10px;
 }

 .socials__item--fb {
background: url(./img/sprites.png) -10px -10px;
 }

 .socials__item--fb:hover {
  background-position: -66px -10px;
   }

 .socials__item--in {
  background:url(./img/sprites.png) -122px -66px;
 }

 .socials__item--in:hover {
  background-position: -10px -66px;
 }