.wrapper {
  width: 100%;
 min-height: 100%;
  overflow-x: hidden;
  background:  url("./img/1.png") center top no-repeat, url("./img/2.png") center bottom 250px no-repeat;
  background-color: #001821;
}

.wrapper__welcome {
  width: 100%;
 min-height: 100%;
  overflow-x: hidden;
  background:  url("./img/bg.png");
  background-color: #001821;
}

.wrapper--service {
  width: 100%;
  min-height: 100%;
   overflow-x: hidden;
   background-color: #f2f2f2;
}